.welcome{
    font-family: auto;
    font-style: italic;
    font-size: 2em;
    font-weight: 600;
}
#education-section{
    margin-top: 4em;
    padding: 5em;
}
.card { 
  transition: all .3s ease-in-out;
  margin-bottom: 1.3em;
  cursor: pointer;
    
 }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .header-footer{
    background-color: #125d8f;
  }
  #gallery-section{
    margin-top: 4em;
    padding: 5em;
  }
  .main-img{
    transition: all .3s ease-in-out;
  }
  .main-img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .navigo{
    transition: all .2s ease-in-out;
  }
  .navigo:hover{
    transform: scale(1.05);
    font-size: 1em;
  }